{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/site.min.css' %}">
    <script src="{% static 'js/vendor-min.js' %}"></script>
    <script src="{% static 'js/templates-min.js' %}"></script>
    <script src="{% static 'js/site-min.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Django REST Todo with Handlebars</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item register">
              <a class="nav-link" data-model="user" data-action="register" id="register" href="#">register</a>
            </li>
            <li class="nav-item categories">
              <a class="nav-link" data-model="categories" data-url="categories/" data-action="list" id="categories" href="#">Categories</a>
            </li>
            <li class="nav-item todos">
              <a class="nav-link" data-model="todos" data-url="todos/" data-action="list" id="todos" href="#">Todos</a>
            </li>
            <li class="nav-item tags">
              <a class="nav-link" data-model="tags" data-url="tags/" data-action="list" id="tags" href="#">Tags</a>
            </li>
            <li class="nav-item logout">
              <a class="nav-link" id="logout" href="#">Logout</a>
            </li>
            <li class="nav-item login_url">
              <a class="nav-link" data-model="user" data-action="login" id="login_url" href="#">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
