<div class="container">
  <div class="row py-2">
    <div class="col">
      <button data-model="categories" data-action="create-form" class="create btn btn-primary float-right">Add Category</button>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">

      <ul>
        {{#each data}}
          <li>
            {{name}}
            <a href='#' data-model="categories" data-url="categories/"  data-action='delete' data-id='{{this.id}}' class='delete btn btn-danger'>Delete</a>
            <a href='#' data-model="categories" data-url="categories/" data-action='put' data-id='{{this.id}}' class='update btn btn-warning'>Update</a>
          </li>
        {{/each}}
      </ul>
    </div>
</div>
<div class="row py-2 paginator"></div>
</div>
