<div class="container">
<div class="row py-2">
  <div class="col">
    Create category
  </div>
</div>
<div class="row py-2">
  <div class="col">
    <form action='/todo/api/categories/create/' method='post' id="form" data-model_url="categories/" data-model="categories">
      <div classs="form-row">
      <input type='text' name='name' value='' class="form-control"/>
    </div>
    <div class="row py-2">
      <div class="col">
      <input type='submit' name='sumbit' value='create' class="btn btn-primary"/>
    </div>
    </div>
    </form>
  </div>
</div>
</div>
