<div class="container">
  <div class="row py-2">
    <div class="col">
      <button data-model="tags" data-action="create-form" class="create btn btn-primary float-right">Add Tag</button>
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <ul>
        {{#each data}}
        <li>
          {{this.name}}
          <a href='#' data-model="tags" data-url="tags/"  data-action='delete' data-id='{{this.id}}' class='delete btn btn-danger'>Delete</a>
          <a href='#' data-model="tags" data-url="tags/" data-action='put' data-id='{{this.id}}' class='update btn btn-warning'>Update</a>
        </li>
        {{/each}}
      </ul>
    </div>
</div>
<div class="row py-2 paginator"></div>
</div>
