<div class="container">
  <div class="row py-2">
    <div class="col">
      Create todo
    </div>
  </div>
  <div class="row py-2">
    <div class="col">
      <form action='/todo/api/todos/create/' method='post' id="form" data-model_url="todos/" data-model="todos">
        <div classs="form-row">
        <input type='text' name='name' value='' class="form-control"/>
      </div>
      <div class="form-row">
        {{#makeSelectBox "category" "" categories}}
        {{/makeSelectBox}}
      </div>
      <div class="form-row">
        {{#makeSelectBoxMultiple "tags" "" tags}}
        {{/makeSelectBoxMultiple}}
      </div>
      <div class="row py-2">
        <div class="col">
        <input type='submit' name='sumbit' value='create' class="btn btn-primary"/>
      </div>
      </div>
      </form>
    </div>
  </div>
</div>
