<div class="container">
  <div class="row py-2">
    <form class="login" data-model="user" action="/api/token/" method="post" id="form">
    <div class="mb-3"><input class="form-control py-2 gy-2" name="username" id="id_username" type="text" placeholder="username" aria-label="username"></div>
      <div class="mb-3"><input class="form-control py-2 gy-2" name="password" id="id_password" type="password" placeholder="password" aria-label="username"></div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary" type="submit">Login</button>
      </div>
      
    </form>
  </div>
</div>